.highlight{
    border: 2px solid #ffff00;
}
#formS{
    background-color: #ffffff;
    border: 2px solid #000000;
    width: 190px;
    height: 150px;
    text-align: center;
    display: none;
    position: absolute;
}
#windDet1{
    display: none;
    box-sizing: border-box;
    background-color: #ffffff;
    border: 3px solid #d14d4d;
    width: 150px;
    height: 100px;
    font-size: 14px;
    position: absolute;
}