
body{
            background-color: #ecfcff;
            color: #000000;
            font-family: Arial, Helvetica, sans-serif;
        }
                /* Grid layout config. for mobile display */
        #wrapper {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(320px, 498px));
            grid-auto-rows: minmax(30px, auto);
            gap: 20px;
        }
        
                    /* General element's styling */
        header {
            background-color: #f5f5f5;
            border-bottom: 3px solid #000000;
            padding: 2px;
        }

        .hbox{
            width: 359px;
            height: 70px;
            display: flex;
            justify-content: space-between;
        }

        .mlogo{
            height: 60px;
        }
        .mlogo img{
            width: 20vw;
            height: 10vw;
        }

        .shname{
            width: 140px;
            height: 60px;
        }

        h1{
            font-size: 6vw;
            margin-top: 5px;
            margin-left: 5px;
        }

        .regbutt{
            width: 100px;
            height: 60px;
            justify-content: space-around;
            display: flex;
            flex-direction: column;
            row-gap: 2px;
        }
        nav{
            border-bottom: 2px solid #000000;
        }
        nav ul{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 7px;
            width: 359px;
            height: 50px;
            list-style-type: none;
            margin: 0px 0px 5px;
            padding-left: 3px;
        }
        nav li{
            width: 90px;
        }
        nav a:link{
            background-color: #d14d4d;
            color: #000000;
            text-decoration: none;
            border: 1px solid #000000;
            border-radius: 3px;
            padding: 2px;
            font-weight: 500;
        }
        nav a:hover{
            color: white;
            border: 3px solid #000000;
        }
        nav a:visited{
            color: white;
            border: 3px solid #000000;
        }
        nav a:active{
            color: white;
            border: 3px solid #000000;
        }
        .soclink{
            display: none;
        }
        #sec1pic img{
            width: 20vw;
            height: 10vw;
        }
        #sec2pic img{
            width: 20vw;
            height: 10vw;
        }
        #sec3pic img{
            width: 20vw;
            height: 10vw;
        }
        #sec4pic img{
            width: 20vw;
            height: 10vw;
        }
        #sec5pic img{
            width: 20vw;
            height: 10vw;
        }
        #sec6pic img{
            width: 20vw;
            height: 10vw;
        }
        #sec7pic img{
            width: 20vw;
            height: 10vw;
        }
        .martic{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            height: 400px;
            align-content: space-between;
            column-gap: 10px;
        }
        .martic h4{
            width: 170px;
            height: 40px;
            margin-left: 100px;
        }
        .bsell1{
            width: 170px;
            height: 150px;
            text-align: center;
        }
        .bsell2{
            width: 170px;
            height: 150px;
            text-align: center;
        }
        .bsell3{
            width: 170px;
            height: 150px;
            text-align: center;
        }
        .bsell4{
            width: 170px;
            height: 150px;
            text-align: center;
        }
        footer{
            text-align: center;
        }
                          /*  JS Styling   */

.highlight{
    background-color: #ffff00;
}
#regForm{
    background-color: #ffffff;
    border: 2px solid #000000;
    width: 190px;
    height: 150px;
    text-align: center;
    display: none;
}
#closeBtn{
    width: 20px;
    height: 20px;
    padding-right: 3px;
    position: top;
    float: right;
    background-color: white;
    color: #d14d4d;
    font-weight: 800;
}
#subButt{
    margin-top: 20px;
}