
body{
            background-color: #ecfcff;
            color: #000000;
            font-family: Arial, Helvetica, sans-serif;
        }
                /* Grid layout config. for mobile display */
        #wrapper {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(320px, 498px));
            grid-auto-rows: minmax(30px, auto);
            gap: 20px;
        }
        
                    /* General element's styling */
        header {
            background-color: #f5f5f5;
            border-bottom: 2px solid #000000;
            padding: 2px;
        }

        .hbox{
            width: 359px;
            height: 70px;
            display: flex;
            justify-content: space-between;
        }

        .mlogo{
            height: 60px;
        }
        .mlogo img{
            width: 20vw;
            height: 10vw;
        }

        .shname{
            width: 140px;
            height: 60px;
        }

        h1{
            font-size: 6vw;
            margin-top: 5px;
            margin-left: 5px;
        }

        .regbutt{
            width: 100px;
            height: 60px;
            justify-content: space-around;
            display: flex;
            flex-direction: column;
            row-gap: 2px;
        }
        nav{
            border-bottom: 1.5px solid #000000;
        }
        nav ul{
            display: flex;
            flex-wrap: wrap;
            row-gap: 5px;
            width: 270px;
            height: 50px;
            list-style-type: none;
            margin: 0px 0px 5px;
            padding-left: 3px;
        }
        nav li{
            width: 90px;
        }
        li a{
            background-color: #f5f5f5;
            color: #000000;
            text-decoration: none;
            border: 2px solid #eeecec;
            font-weight: 500;
        }
        .soclink{
            display: none;
        }
        .martic{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            height: 400px;
            align-content: space-around;
            column-gap: 10px;
        }
        .martic h4{
            height: 40px;
            margin-left: 70px;
            text-align: center;
        }
        .bsell1{
            width: 150px;
            height: 150px;
            text-align: center;
        }
        .bsell2{
            width: 150px;
            height: 150px;
            text-align: center;
        }
        .bsell3{
            width: 150px;
            height: 150px;
            text-align: center;
        }
        .bsell4{
            width: 150px;
            height: 150px;
            text-align: center;
        }
        footer{
            text-align: center;
        }