         /* Medium screen size style configuration */
        @media (min-width: 768px) {
body{
    min-width: 98%;
}
header{
    grid-column: 1 / 3;
    grid-row: 1;
    min-width: 100%;
}
.shname { 
    width: 40%;
}
h1{
    width: 90%;
    height: 50%;
    text-align: right;
    font-size: 170%;
}
.regbutt{
    display: flex;
    flex-direction: row;
    min-width: 33%;
    justify-content: right;
    gap: 3px;
}
nav{
    grid-column: 1 / 3;
    grid-row: 2;
    justify-content: space-between;
}
.soclink{
    display: flex;
}
main{
    grid-column: 2 / 3;
    grid-row: 3;
    min-width: 500px;
}
#sec1pic{
    display: flex;
    width: 500px;
    column-gap: 10px;
    margin-left: 15px;
}
#sec2pic{
    display: flex;
    width: 500px;
    column-gap: 10px;
    margin-left: 15px;
}
#sec3pic{
    display: flex;
    width: 500px;
    column-gap: 10px;
    margin-left: 15px;
}
#sec4pic{
    display: flex;
    width: 500px;
    column-gap: 10px;
    margin-left: 15px;
}
#sec5pic{
    display: flex;
    height: 220px;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 10px;
    margin-left: 15px;
}
#sec5pic img{
    max-width: 150px;
    max-height: 100px;
}
#sec6pic{
    display: flex;
    height: 220px;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 10px;
    margin-left: 15px;
}
#sec6pic img{
    max-width: 150px;
    max-height: 100px;
}
#sec7pic{
    display: flex;
    width: 500px;
    column-gap: 10px;
    justify-content: center;
    margin-left: 10px;
}
aside{
    grid-column: 1 / 2;
    grid-row: 3;
}
.martic{
    min-height: 700px;
}
.bsell1{
    min-width: 150px;
}
.bsell2{
    min-width: 150px;
}
.bsell3{
    min-width: 150px;
}
.bsell4{
    min-width: 150px;
}
footer{
    grid-column: 1 / 3;
    grid-row: 4;
}
}